{% extends "base.html" %}
{% load static %}

{% block title  %}
    Shopping CART
{% endblock %}

{% block content %}

    <h1>Your Shopping CART</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Count</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_product_count_form.product_count }}
                                {{ item.update_product_count_form.update }}
                                {% csrf_token %}
                                <input type="submit" value="Update">
                            </form>
                        </td>
                        <td><a href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'shop:store' %}" class="button light">Continue shopping</a>
        <a href="{% url 'shop:checkout' %}" class="button light">Checkout</a>
    </p>
{% endblock %}

